#projects{
  height: 100%;
  width:95%;
  display:flex;
  z-index:2;
  border-bottom-style: solid;
  backdrop-filter: blur(1px);
  font-family: 'Courier New', Courier, monospace; /* Retro font */
  margin-bottom: 5%;

}

.split-screen{
  border-style:solid;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  z-index:2;
  width:50%;
}


#video-box{
  width: 90%;
  height: 70%;
  border-style: solid;
  border-top-left-radius: 5px;
  border-top-right-radius:5px;
  border-color:#A350A3;
  border-bottom-color:transparent;
  border-width:5px;
  display:flex;
  justify-content: center;
}

#description-box{
  width:90%;
  height:100%;
  border-style:solid;
  border-color:#A350A3;
  border-width: 5px;
  color:white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display:flex;
  justify-content: start;
  flex-direction: column;
  background-color: #0F0C24;
  padding-top:2%;

}

#github{
  width:90%;
  height:15%;
  border-style: solid;
  border-color: white;
  display:flex;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right-color:#A350A3 ;
  border-left-color:#A350A3;
  background-color: #0F0C24;
  border-bottom-color:#A350A3;
  border-top-style: none;
  border-width: 5px;
}

#technologies-used{
  width:90%;
  height:15%;
  border-left-style:solid;
  border-right-style:solid;

  border-color:#A350A3;
  border-width: 5px;;
  background-color: white;
  display:flex;
  justify-content: space-around;
  align-items: center;

}

.tech-icon {
  display:flex;
  align-items: center;
  margin:5%;
  height: 90%;
}

#react-icon{
  width:auto;
  height:30%;
}
#express-icon{
  width:auto;
height:30%;
}

#mongo-db-icon{
  width:auto;
  height:30%;
}

#typescript-icon{
  width:auto;
height:30%;
  border-radius: 5px;
}
#github-logo-project{
  width: auto;
  height: 70%;
  margin-left: 10%;

}

#github-content-project{
  color:white;
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;

  margin-left:10%;
}

.description-font{
font-size: medium;
font-weight:100;
display: flex;
align-items: start;
padding:2%;
}

.description-font-h2{
  margin-left:2%;
  font-size:large;
}

#github-link{
  text-decoration: none;
  color: white;
  display: flex;
  align-items:center;

}

iframe{
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius:5px;
  border-style:none;
}


@media only screen and (max-width: 430px) {
  #projects{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;

  }
  .split-screen {
    width: 100%;

  }

  #github-link{
    display:flex;
    align-items: center;
    align-content: center;
    justify-content:center;
  }
  #github{
    display:flex;
    align-items: center;
    align-content: center;
    justify-content:center;
  }


  #video-box,
  #description-box,
  #github,
  #technologies-used {
    width: 90%;
    height: auto;
    display:flex;
    flex-direction:column;

  }

#github-link{
  margin-top:5%;
  margin-bottom:5%;

}



#github-content-project{
  display:flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-left:0px;
  
}

#github-logo-project{
  margin-left:0px;
}

  #react-icon{
    width:50px;
    height:auto;
  }

  #express-icon{
    width:150px;
    height:auto;
  }

  #mongo-db-icon{
    width:150px;
    height:auto;
  }

  #typescript-icon{
    width:70px;
    height:auto;
  }

  #github-logo-project{
    width:70px;
    margin-bottom:10px;
    margin-top:10px;
  }
}