#header {
height: 100%;
width: 100%;
background-color: green;
display: flex;
flex-direction: column;

color: white;
align-content: center;
align-items: center;
justify-content: center;
}

.header-h1 {
  height: 10%;
  font-size: 100px;
}

